@model PHIMS.Models.Admin

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<form asp-action="Create">
<div class="row">
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="F_Name" class="control-label"></label>
                <input asp-for="F_Name" class="form-control" />
                <span asp-validation-for="F_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_Name" class="control-label"></label>
                <input asp-for="M_Name" class="form-control" />
                <span asp-validation-for="M_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L_Name" class="control-label"></label>
                <input asp-for="L_Name" class="form-control" />
                <span asp-validation-for="L_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_Number" class="control-label"></label>
                <div class="input-group ">
                    <span class="input-group-text" id="basic-addon1">+252</span>
                    <input asp-for="Phone_Number" class="form-control" placeholder="Start With 63 or 65" min="600000000" max="799999999" />
                </div>
                <span asp-validation-for="Phone_Number" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control " />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" type="date"  class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Date" class="control-label"></label>
                <input asp-for="R_Date" type="date" class="form-control" />
                <span asp-validation-for="R_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-select">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <select asp-for="UserId" class="form-select " asp-items="ViewBag.UserId"></select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    <div class="form-group">
            <input type="submit" value="Create" class="btn btn-block btn-primary" />
    </div>
</div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


